{% extends 'base-backend.html.twig' %}

{% block title %}Produit : {{ product.name }}{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_product_index') }}"class="btn btn-secondary mt-4 mb-2 align-items-center" title="Retour">
    <i class="bi bi-arrow-left me-1"></i>Retour
    </a>

    <div class="d-flex flex-wrap justify-content-between align-items-center  mb-4">
        <h1>Produit : {{ product.name }}</h1>
        {{ include('admin_product/_delete_form.html.twig') }}
    </div>

    <div class="card mb-3" style="max-width: auto;">
        <div class="row g-0 align-items-center p-2">
            <div class="col-md-4 ">
                <a href="{{ asset('images/product/') ~ product.imageName}}" data-lightbox data-image-alt="{% if product.descriptionImage is not null %} {{ product.descriptionImage }}{% else %} Image de la catégorie : {{ product.Name}} {% endif %}">
                    <img 
                        class="img-dashboard-upload"
                        style="width: 100%;"
                        src="{{ asset('images/product/' ~ product.imageName) }}" 
                        alt="{% if product.descriptionImage is not null %} {{ product.descriptionImage }}{% endif %}"
                    /> 
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">ID : {{ product.id }}</p>          
                    <h5 class="card-title">Nom : {{ product.name }}</h5>                    
                    <p class="card-text">Description : {{ product.description|raw }}</p>
                    <p class="card-text"><small class="text-muted">Mise à jour le : {{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</small></p>
                    <p class="card-text justi">Description courte :<br/> <em>{{ product.descriptionImage|raw }}</em></p>
                    <div class="d-flex justify-content-between">
                        <p>{{ product.price|format_currency('EUR', locale="fr") }}</p>
                        <p>Stock : {{ product.stock }} restant(s)</p>
                        <p>Catégorie : {{ product.category }}</p>
                        <div>
                        {% if product.isPromote %}
                        Mis en avant :
                            <img src="{{ asset('images/icons/check2.svg')}}" class="color-success" alt="Oui">
                        {% else %}
                        Mis en avant :
                            <img src="{{ asset('images/icons/x-lg.svg')}}" class="color-danger" alt="Non">
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <a href="{{ path('app_admin_product_edit', {'id':  product.id}) }}" class="btn btn-success" title="Modifier"><i class="bi bi-pencil me-1"></i></a>

{% endblock %}
