{% extends 'base-backend.html.twig' %}

{% block title %}Dashboard - Categories{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-4">
        <h1>Categories</h1>
        <a href="{{ path('app_admin_category_new') }}" class="btn btn-success" title="Créer un nouveau">
        <i class="bi bi-plus-lg"></i> Nouvelle catégorie
        </a>
    </div>
    <div class="table-responsive">
        <table class="table align-middle table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Mise à jour le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>
                    {% if category.imageName is not null %}
                        <a href="{{ asset('images/category/') ~ category.imageName}}" data-lightbox data-image-alt="{% if category.imageDescription is not null %} {{ category.imageDescription }}{% else %} Image de la catégorie : {{ category.Name}} {% endif %}">
                            <img 
                                class="img-dashboard-upload"
                                src="{{ asset('images/category/' ~ category.imageName) }}" 
                                alt="{% if category.imageDescription is not null %} {{ category.imageDescription }}
                                    {% else %} Image illustrant la catégorie : {{ category.Name}} {% endif %}"
                            /> 
                        </a>
                    {% endif %}
                    </td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.updatedAt ? category.updatedAt|date('d-m-Y H:i') : '' }}</td>
                    <td>
                        <a href="{{ path('app_admin_category_show', {'id': category.id}) }}" class="show me-3 " title="Voir"><i class="bi bi-eye"></i></a>
                        <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="edit" title="Modifier"><i class="bi bi-pencil"></i></a>
                        
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucune catégorie trouvée.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
