{% extends 'base.html.twig' %}

{% block title %}Fiche produit{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
                {# En-tête & titre principal  #}
        <div class="px-md-4 text-center">
            <img src="{{ asset('/images/home_shop.png')}}" alt="image de décoration" style="width: 70%;">            
            <hr class="mt-3">
            <h2 class="mb-2">{{ product.name}} :</h2>
            <hr class="mb-3">
        </div>
                {# Fiche produit  #}
        <div class="card mb-3" style="width: 80%;">
            <div class="row g-0 ">
                <div class="col-md-4">
                    <img src="{{ asset('/images/product/') ~ product.imageName}}" class="img-fluid rounded-start" alt="{{ product.descriptionImage}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">{{ product.name}}</h5>
                            {% if product.isPromote == true %}
                            <div class="text-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg> New
                            </div>
                                
                            {% endif %}

                        </div>
                        
                        <p class="card-text text-justify">{{ product.description|raw}}</p>
                        <p class="card-text"><small class="text-body-secondary">Stock : {{ product.stock}} restant(s)</small></p>
                        <div class="d-flex justify-content-between">
                            <p><strong>{{ product.price|format_currency('EUR', locale="fr") }}</strong></p>
                            {# début Icone Favoris #}
                            {% if app.user is not null %}                            
                            <svg xmlns="http://www.w3.org/2000/svg" data-id="{{ product.id }}" class="bi bi-heart-fill favoris {% if product in app.user.favoris %}text-danger{% endif %}" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>                        
                            {% endif %}
                            {# fin Icone Favoris #}

                            {# début Icone PANIER #}
                                                       
                            <a href="{{ path('app_addCart', {'id':product.id})}}" class="btn btn-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket-fill {% if product in cart.products %}text-success{% endif %}" viewBox="0 0 16 16">
                                    <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                                </svg>
                            </a>
                           
                            {# fin Icone PANIER #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
$(".favoris").on("click", function(event){
    let productId = $(this).attr("data-id");
    let heart = $(this);
    let action = "like";
    if($(this).hasClass("text-danger")) action = "unlike";
    $.ajax({
        url: "{{ path('app_front_add_favoris')}}",
        type: 'POST',
        data: "id="+productId+"&action="+action
    }).done(function(response){
        if(response.success){
            ($(heart).hasClass("text-danger")) ? $(heart).removeClass("text-danger") : $(heart).addClass("text-danger")
        }       
    })
});

{# $(".panier").on("click", function(event){
    let productId = $(this).attr("data-id");
    let panier = $(this);
    let action = "add";
    if($(this).hasClass("text-success")) action = "remove";
    $.ajax({
        url: "{{ path('app_front_add_panier')}}",
        type: 'POST',
        data: "id="+productId+"&action="+action
    }).done(function(response){
        if(response.success){
            ($(panier).hasClass("text-success")) ? $(panier).removeClass("text-success") : $(panier).addClass("text-success")
        }       
    })
}); #}
</script>
{% endblock %}
