<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon Petit Geste Eco.{% endblock %}</title>
        {# icon personnalisé #}
        <link rel="icon" href="{{ asset('images/onglet/v916-nunny-635.jpg') }}">
        {# Icones BOOTSTRAP #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        {# CSS de Bootstrap v5.3 #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        {# CSS du LIGHTBOX #}
        <link rel="stylesheet" href="{{ asset('css/lightbox.min.css') }}">
        

        {# CSS pour le backend #}
        <link rel="stylesheet" href="{{ asset('css/style-backend.min.css') }}">
        {% block stylesheets %}{% endblock %}        
    </head>

    <body>
        <header>           
            <div class="navbar navbar-dark sticky-top bg-success flex-md-nowrap p-0">  
                <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 ms-5 ms-md-0" href="{{ path('app_front_home')}}">Mon Petit Geste Eco</a>
                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-end align-items-center">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mon compte
                        </a>
                        <ul class="dropdown-menu" style="background-color: #B3DBC8;">
                            <li><a class="dropdown-item" href="{{ path('app_front_user')}}">Profil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout')}}">Deconnexion</a></li>
                        </ul>
                    </div>
                    <div class="navbar-text mx-5 text-white">
                        <span>Statut : <i class="bi bi-person-check-fill"></i></span>
                    </div>
                </div>
            </div>
        </header>


        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-sidebar sidebar collapse">
                    <div class="position-sticky pt-3 sidebar-sticky nav-height">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_admin')}}">
                                <i class="bi bi-house-door me-2"></i>
                                
                                Tableau de bord
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin_category_index')}}">
                                    <i class="bi bi-tag me-2"></i>Catégories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin_product_index')}}">
                                <i class="bi bi-cart me-2"></i>
                                Produits
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin_article_blog_index')}}">
                                <i class="bi bi-clipboard2-heart me-2"></i>
                                Articles (blog)
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                <i class="bi bi-box-seam me-2"></i>
                                Commandes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                <i class="bi bi-person-rolodex me-2"></i>
                                Clients
                                </a>
                            </li>
                        </ul>

                    </div>
                </nav>
         
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="container-fluid p-3">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% block body %}{% endblock %}
            </main>   
            </div>
        </div>

        {# JQuery #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        {# JS du LIGHTBOX #}
        <script src="{{ asset('js/lightbox.min.js') }}"></script>
        {# pour le dashboard #}
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
       
        {# Popper et JavaScript de Bootstrap v5.3 #}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        {# JS du Formulaire inclus dynamique #}
        <script src="{{ asset('js/add-category.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
