{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-10 d-flex justify-content-between">
        <div class="col-3 ">
        <h4  class="my-4">Mon panier :</h4>
        </div>
        <div class="col-3 mt-4">
        <a href="{{ path('app_deleteCart')}}"><button class="btn btn-warning">Vider le panier</button></a>
        </div>
        
    </div>
    <div class="col-10 ">
        <div class="table-responsive">
            <table class="table table-striped table-sm mb-5">
                <thead>
                    <tr>                                    
                    <th scope="col">Image</th>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                    <th scope="col">supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% if app.session.get('cart') %}
                    {% for element in cart.products %}
                    <tr>                            
                        <td>
                            <a href="{{ path('app_front_product', {slug: element.product.slug})}}">
                            <img src="{{ asset('/images/product/') ~ element.product.imageName}}" class="img-favoris-size" alt="{{ element.product.descriptionImage}}">
                            </a>
                        </td>
                        <td><label for="quantity-{{ element.product.id}}">{{ element.product.name}}</label></td>
                        <td>
                        <a href="{{ path('app_deleteFromCart', {'id':element.product.id})}}"><button class="btn btn-warning me-2">-</button></a>
                        <input type="numeric" id="quantity-{{ element.product.id}}" name="quantity-{{ element.product.id}}" size="2" value="{{element.quantity}}" class="text-center me-2">
                        <a href="{{ path('app_addCart', {'id':element.product.id})}}"><button class="btn btn-primary me-2">+</button></a>                                    
                            <p class="d-none">{{ element.product.price }} </p>
                        </td>
                        <td>{{ element.product.price|format_currency('EUR', locale="fr") }}</td>
                        <td data-title="Total">{{ (element.quantity * element.product.price)|format_currency('EUR', locale="fr") }}</td>
                        <td data-title="Remove">
                        <a href="{{ path('app_cartDeleteAll', {'id':element.product.id})}}"><i class="bi bi-trash3 text-danger" data-id="{{ element.product.id}}"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p class="mb-5 text-danger"><strong>Votre panier est vide !</strong></p>
                    {% endif %}
                    <tr>
                        <td></td>                                                                                
                        <td colspan="3">Sous-total HT</td>
                        <td colspan="2">{{ cart.data.subTotalHT|format_currency('EUR', locale="fr")}}</td>                        
                    </tr>
                    <tr>
                        <td></td>                                                                                
                        <td colspan="3">TVA 20%</td>                                        
                        <td colspan="2">{{ cart.data.taxe|format_currency('EUR', locale="fr")}}</td>
                    </tr>
                    <tr>
                        <td></td>                                                                    
                        <td colspan="3">Frais de port</td>                                        
                        <td colspan="2">{% if cart.data.subTotalTTC < 75.9 %} 5.90€ {% else %} OFFERT {% endif %} </td>
                    </tr>
                    <tr class="fs-3">
                        <td></td>                                                                                
                        <td colspan="3">TOTAL TTC</td>                                        
                        <td colspan="2">{{ cart.data.subTotalTTC|format_currency('EUR', locale="fr")}}</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <button class="btn btn-success my-4" type="submit">Valider la commande</button>
    </div>
</div>
{% endblock %}