{% extends 'base-backend.html.twig' %}

{% block title %}Dashboard - Articles du blog{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-4">
        <h1>Articles du blog</h1>
        <a href="{{ path('app_admin_article_blog_new') }}" class="btn btn-success" title="Créer un nouveau">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg> Nouvel article
        </a>
    </div>
    <div class="table-responsive">
        <table class="table align-middle table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Actif</th>
                    <th>Titre</th>
                    {# <th>Sous-titre</th> #}
                    {# <th>Description</th> #}
                    <th>Mise à jour le</th>
                    <th>Signature</th>
                    {# <th>ImageDescription</th> #}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article_blog in article_blogs %}
                <tr>
                    <td>{{ article_blog.id }}</td>
                    <td>
                        {% if article_blog.imageName %}
                            <a href="{{ asset('images/articleBlog/') ~ article_blog.imageName}}" data-lightbox data-image-alt="{% if article_blog.imageDescription is not null %} {{ article_blog.imageDescription }}{% else %} Image de la catégorie : {{ article_blog.Name}} {% endif %}">
                                <img 
                                    class="img-dashboard-upload"
                                    src="{{ asset('images/articleBlog/' ~ article_blog.imageName) }}" 
                                    alt="{% if article_blog.imageDescription is not null %} {{ article_blog.imageDescription }}{% endif %}"
                                /> 
                            </a>
                        {% else %}
                            <p>Pas d'image</p> 
                        {% endif %}

                    </td>
                    <td>
                    {% if article_blog.isActive %}
                        <img src="{{ asset('images/admin_article/clipboard-check.svg')}}" class="text-success" alt="Oui">                      
                    {% else %}
                        <img src="{{ asset('images/admin_article/clipboard-x.svg')}}" class="text-danger" alt="Non">
                    {% endif %}
                    </td>
                    <td>{{ article_blog.title }}</td>
                    {# <td>{{ article_blog.subtitle }}</td> #}
                    {# <td>{{ article_blog.description }}</td> #}
                    <td>{{ article_blog.updatedAt ? article_blog.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                    <td>{{ article_blog.signature }}</td>
                    {# <td>{{ article_blog.imageDescription }}</td> #}
                    <td>
                        <a href="{{ path('app_admin_article_blog_show', {'id': article_blog.id}) }}" class="show me-3 " title="Voir">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg></a>
                        <a href="{{ path('app_admin_article_blog_edit', {'id': article_blog.id}) }}" class="edit" title="Modifier">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun article trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
