{% extends 'base-backend.html.twig' %}

{% block title %}Dashboard - Articles du blog{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-4">
        <h1>Articles du blog</h1>
        <a href="{{ path('app_admin_article_blog_new') }}" class="btn btn-success" title="Créer un nouveau">
        <i class="bi bi-plus-lg"></i>Nouvel article
        </a>
    </div>
    <div class="table-responsive">
        <table class="table align-middle table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Actif</th>
                    <th>Titre</th>
                    {# <th>Sous-titre</th> #}
                    {# <th>Description</th> #}
                    <th>Mise à jour le</th>
                    <th>Signature</th>
                    {# <th>ImageDescription</th> #}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article_blog in article_blogs %}
                <tr>
                    <td>{{ article_blog.id }}</td>
                    <td>
                        {% if article_blog.imageName %}
                            <a href="{{ asset('images/articleBlog/') ~ article_blog.imageName}}" data-lightbox data-image-alt="{% if article_blog.imageDescription is not null %} {{ article_blog.imageDescription }}{% else %} Image de la catégorie : {{ article_blog.Name}} {% endif %}">
                                <img 
                                    class="img-dashboard-upload"
                                    src="{{ asset('images/articleBlog/' ~ article_blog.imageName) }}" 
                                    alt="{% if article_blog.imageDescription is not null %} {{ article_blog.imageDescription }}{% endif %}"
                                /> 
                            </a>
                        {% else %}
                            <p>Pas d'image</p> 
                        {% endif %}

                    </td>
                    <td>
                    {% if article_blog.isActive %}
                        <img src="{{ asset('images/admin_article/clipboard-check.svg')}}" class="text-success" alt="Oui">                      
                    {% else %}
                        <img src="{{ asset('images/admin_article/clipboard-x.svg')}}" class="text-danger" alt="Non">
                    {% endif %}
                    </td>
                    <td>{{ article_blog.title }}</td>
                    {# <td>{{ article_blog.subtitle }}</td> #}
                    {# <td>{{ article_blog.description }}</td> #}
                    <td>{{ article_blog.updatedAt ? article_blog.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                    <td>{{ article_blog.signature }}</td>
                    {# <td>{{ article_blog.imageDescription }}</td> #}
                    <td>
                        <a href="{{ path('app_admin_article_blog_show', {'id': article_blog.id}) }}" class="show me-3 " title="Voir"><i class="bi bi-eye"></i></a>
                        <a href="{{ path('app_admin_article_blog_edit', {'id': article_blog.id}) }}" class="edit" title="Modifier"><i class="bi bi-pencil"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun article trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
