{% extends 'base-backend.html.twig' %}

{% block title %}Article - {{ article_blog.title }}{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_article_blog_index') }}"class="btn btn-secondary mt-4 mb-2 align-items-center" title="Retour">
    <i class="bi bi-arrow-left me-1"></i>Retour
    </a>

    <div class="d-flex flex-wrap justify-content-between align-items-center  mb-4">
        <h1>Article - {{ article_blog.title }}</h1>
        {{ include('admin_article_blog/_delete_form.html.twig') }}
    </div>

    <div class="card mb-3" style="max-width: auto;">
        <div class="row g-0 align-items-center p-2">
            <div class="col-md-4">
                {% if article_blog.imageName is not null %}
                    <a href="{{ asset('images/articleBlog/') ~ article_blog.imageName}}" data-lightbox data-image-alt="{% if article_blog.imageDescription is not null %} {{ article_blog.imageDescription }}{% else %} Image de la catégorie : {{ article_blog.Name}} {% endif %}">
                        <img 
                            class="img-fluid rounded-start"
                            src="{{ asset('images/articleBlog/' ~ article_blog.imageName) }}" 
                            alt="{% if article_blog.imageDescription is not null %} {{ article_blog.imageDescription }}
                                {% else %} Image illustrant la catégorie : {{ article_blog.Name}} {% endif %}"
                        /> 
                    </a>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                    {% if article_blog.isActive %}
                        <img src="{{ asset('images/admin_article/clipboard-check.svg')}}" class="text-success" alt="Oui">                      
                    {% else %}
                        <img src="{{ asset('images/admin_article/clipboard-x.svg')}}" class="text-danger" alt="Non">
                    {% endif %}
                    </div>
                    <h5 class="card-title">{{ article_blog.title }}</h5>
                    {% if article_blog.subtitle is not null %}
                    <h6 class="text-secondary fst-italic">{{ article_blog.subtitle }}</h6>
                    {% endif %}
                    <p class="card-text">{{ article_blog.description|raw }}</p>
                    <p class="card-text">De : {{ article_blog.signature }}</p>
                    <p class="card-text"><small class="text-muted">Dernière mise à jour le : {{ article_blog.updatedAt ? article_blog.updatedAt|date('Y-m-d H:i:s') : '' }}</small></p>
                    <p class="card-text">Description de l'image : </br>{{ article_blog.imageDescription }}</p>
                </div>
            </div>
        </div>
    </div>


    <a href="{{ path('app_admin_article_blog_edit', {'id': article_blog.id}) }}" class="btn btn-success" title="Modifier"><i class="bi bi-pencil me-1"></i></a>


{% endblock %}
