{% extends 'base.html.twig' %}

{% block title %}Mon Petit Geste Eco - Accueil{% endblock %}

{% block body %}
<div class="row">   
    <img src="{{ asset('images/home2.jpg')}}" alt="Image d'accueil de décoration">     
</div>
<div class="row justify-content-center">
    <div class="col-6 p-3">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
    <div class="container">

        <div class=" row featurette my-5 d-flex flex-wrap justify-content-around">
            <hr class="featurette-divider">
            <h2 class="mb-2 text-center">Catégories :</h2>
            <hr class="featurette-divider mb-5">
        </div>
        <div class=" row my-3 d-flex flex-wrap justify-content-around align-items-stretch">
      
        
            {% for category in categories %}
                <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-wrap align-items my-3">
                    <div>
                    {% if category.imageName is not null %}
                        <a href="{{ asset('images/category/') ~ category.imageName}}" data-lightbox data-image-alt="{% if category.imageDescription is not null %} {{ category.imageDescription }}{% else %} Image de la catégorie : {{ category.Name}} {% endif %}">
                            <img 
                                class="bd-placeholder-img rounded-circle"
                                src="{{ asset('images/category/') ~ category.imageName}}" 
                                alt="{% if category.imageDescription is not null %} {{ category.imageDescription }}
                                {% else %} Image de la catégorie : {{ category.Name}} {% endif %}"
                            />
                        </a>
                    {% endif %}
                    <h3 class="fw-normal">{{ category.name}}</h3>
                    <p class="fs-6 text-start text-md-center mx-3">{{ category.description|raw}}</p>
                    
                    </div>
                    {% if app.user is not null %}
                    <a class="btn align-self-end mx-5 text-white"  style="background-color: #1A3287;" href="{{ path('app_front_filteredProducts', {slug: category.slug})}}" >Voir produits &raquo;</a>
                    {% else %}
                    
                    <a class="btn btn-success align-self-end mx-5 text-white" href="{{ path('app_front_filteredProducts', {slug: category.slug})}}" >Voir produits &raquo;</a>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="container">

        <div class=" row featurette my-5 d-flex flex-wrap justify-content-around">
            <hr class="featurette-divider">
            <h2 class="mb-2 text-center">Nouveautés :</h2>
            <hr class="featurette-divider mb-5">
        </div>
        <div class=" row featurette my-5 d-flex flex-wrap justify-content-around align-items-stretch">
      
        
            {% for product in products %}
                {% if product.isPromote == true %}
                    
                    <div class="card home-card-product" style="width: 11rem;">
                        <a href="{{ path('app_front_product', {slug: product.slug})}}">
                        <img src="{{ asset('images/product/') ~ product.imageName}}" class="card-img-top" alt="{{ product.descriptionImage }}">
                        </a>   
                        <div class="card-body p-0 mt-1 d-flex flex-wrap" style="heigth: 100vh;" >                            
                            <div>
                                <a href="{{ path('app_front_product', {slug: product.slug})}}">
                                <h6 class="card-title w-100">{{ product.name }}</h6>
                                <div class="min-desc-product w-100">{{ product.descriptionImage|raw }}</div>
                                </a>
                            </div>
                            <p class="card-text d-flex w-100 justify-content-between align-items-center align-self-end my-2">
                       
                                {{ product.price|format_currency('EUR', locale="fr") }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                            </p> 
                                                 
                        </div>
                    </div>
                    

                {% endif %}

            {% endfor %}

        </div>
    </div>

    <div class="container">
        <hr class="featurette-divider">
        <h2 class="mb-2 text-center">Blog :</h2>
        <hr class="featurette-divider mb-5">
       

        {% for article in articles %}
            <div class="row featurette p-5">
            {% if loop.index is divisible by(2) %}
                <div class="featurette-heading col-md-7">
                    <h2 class="fw-normal">
                        {{ article.title }} 
                        {% if article.subtitle is not null %}<span class="text-muted">{{ article.subtitle}}</span>{% endif %}
                    </h2>
                    <div>{{ article.description|raw }}</div>
                </div>
                <div class="col-md-5">
                    <a href="{{ asset('images/articleBlog/' ~ article.imageName)}}" data-lightbox data-image-alt="{% if article.imageDescription is not null %} {{ article.imageDescription }}{% else %} Image de la catégorie : {{ article.Name}} {% endif %}">
                        <img src="{{ asset('images/articleBlog/' ~ article.imageName) }}" alt="{{ article.imageDescription}}" class="img-fluid mx-auto">
                    </a>
                </div>
            {% else %}
                <div class="col-md-5">
                    <a href="{{ asset('images/articleBlog/' ~ article.imageName)}}" data-lightbox data-image-alt="{% if article.imageDescription is not null %} {{ article.imageDescription }}{% else %} Image de la catégorie : {{ article.Name}} {% endif %}">
                        <img src="{{ asset('images/articleBlog/' ~ article.imageName) }}" alt="{{ article.imageDescription}}" class="img-fluid mx-auto">
                    </a>
                </div>

                <div class="featurette-heading col-md-7">
                    <h2 class="fw-normal">
                        {{ article.title }} 
                        {% if article.subtitle is not null %}<span class="text-muted">{{ article.subtitle}}</span>{% endif %}
                    </h2>
                    <div>{{ article.description|raw }}</div>
                </div>
            {% endif %}

            </div>

        <hr class="featurette-divider">
        {% endfor %}
    </div>
{% endblock %}
