{% extends 'base.html.twig' %}

{% block title %}Mon Petit Geste Eco - Accueil{% endblock %}

{% block body %}

<img src="{{ asset('images/home2.jpg')}}" alt="banière de la page d'accueil" class="w-100">     

<div class="container justify-content-center">
    
    {# début message flash #}
    <section class="row justify-content-center margin_section">
        <div class="col-6 p-3">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </section>
    {# fin message flash #}
    
    {# début Catégorie #}
    <section class="container margin_section">
        <h2 class="mb-2 text-center">Catégories :</h2>
       
        <div class="row my-3 d-flex flex-wrap justify-content-around align-items-stretch">
            {% for category in categories %}
            <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-wrap align-items my-3">
                <div>
                    {% if category.imageName is not null %}
                    <a  href="{{ path('app_front_filteredProducts', {slug: category.slug})}}">
                        <img 
                            class="rounded-circle"
                            src="{{ asset('images/category/') ~ category.imageName}}" 
                            alt="{% if category.imageDescription is not null %} {{ category.imageDescription }}
                            {% else %} Image de la catégorie : {{ category.Name}} {% endif %}"
                        />
                        <h3>{{ category.name}}</h3>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {# fin Catégorie #}

    {# début product #}
    <section class="container margin_section">
        <h2 class="mb-2 text-center">Nouveautés :</h2>
        <div class=" row my-5 d-flex flex-wrap justify-content-around align-items-stretch">      
            {% for product in products %}
                {% if product.isPromote == true %}
                <div class="card product_card">
                    <a href="{{ path('app_front_product', {slug: product.slug})}}">
                        <img src="{{ asset('images/product/') ~ product.imageName}}" class="card-img-top" alt="{{ product.descriptionImage }}">
                    </a>   
                    <div class="card-body p-0 mt-1 d-flex flex-wrap">    
                        <a href="{{ path('app_front_product', {slug: product.slug})}}">
                            <h6 class="card-title w-100">{{ product.name }}</h6>
                            <div class="min-desc-product w-100">{{ product.descriptionImage|raw }}</div>
                        </a>
                        <p class="card-text d-flex w-100 justify-content-between align-items-center align-self-end my-2">
                            {# Prix #} 
                            {{ product.price|format_currency('EUR', locale="fr") }}
                            
                            {# début Icone FAVORIS #} 
                            {% if app.user is not null %}
                            <i data-id="{{ product.id }}" class="bi bi-heart-fill favoris {% if product in app.user.favoris %}text-danger{% endif %}"></i>
                            {% endif %}
                            {# fin Icone FAVORIS #}
                            
                            {# début Icone PANIER #}                                                       
                            <a href="{{ path('app_addCart', {'id':product.id})}}" class="btn {% if app.session.get('cart') %}{% for element in cart.products %}{% if element.product.id == product.id %} btn-success text-white{% endif %}{% endfor %}{% else %}btn-light{% endif %}"><i class="bi bi-basket-fill"></i></a>                           
                            {# fin Icone PANIER #}
                        </p>              
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    {# fin product #}

    {# Début Blog #}
    <div class="container margin_section">
        <h2 class="mb-2 text-center">Blog :</h2>

        {% for article in articles %}
            <div class="row featurette p-5">
            {% if loop.index is divisible by(2) %}
                <div class="featurette-heading col-md-7">
                    <h3 class="fw-normal">
                        {{ article.title }} 
                        {% if article.subtitle is not null %}<span class="text-muted">{{ article.subtitle}}</span>{% endif %}
                    </h3>
                    <div>{{ article.description|raw }}</div>
                </div>
                <div class="col-md-5">
                    <a href="{{ asset('images/articleBlog/' ~ article.imageName)}}" data-lightbox data-image-alt="{% if article.imageDescription is not null %} {{ article.imageDescription }}{% else %} Image de la catégorie : {{ article.Name}} {% endif %}">
                        <img src="{{ asset('images/articleBlog/' ~ article.imageName) }}" alt="{{ article.imageDescription}}" class="img-fluid mx-auto">
                    </a>
                </div>
            {% else %}
                <div class="col-md-5">
                    <a href="{{ asset('images/articleBlog/' ~ article.imageName)}}" data-lightbox data-image-alt="{% if article.imageDescription is not null %} {{ article.imageDescription }}{% else %} Image de la catégorie : {{ article.Name}} {% endif %}">
                        <img src="{{ asset('images/articleBlog/' ~ article.imageName) }}" alt="{{ article.imageDescription}}" class="img-fluid mx-auto">
                    </a>
                </div>

                <div class="featurette-heading col-md-7">
                    <h3 class="fw-normal">
                        {{ article.title }} 
                        {% if article.subtitle is not null %}<span class="text-muted">{{ article.subtitle}}</span>{% endif %}
                    </h3>
                    <div>{{ article.description|raw }}</div>
                </div>
            {% endif %}
            </div>
        <hr class="featurette-divider">
        {% endfor %}
    </div>
    {# Fin Blog #}

</div>
{% endblock %}



{% block javascripts %}
<script>
$(".favoris").on("click", function(event){
    let productId = $(this).attr("data-id");
    let heart = $(this);
    let action = "like";
    if($(this).hasClass("text-danger")) action = "unlike";
    $.ajax({
        url: "{{ path('app_front_add_favoris')}}",
        type: 'POST',
        data: "id="+productId+"&action="+action
    }).done(function(response){
        if(response.success){
            ($(heart).hasClass("text-danger")) ? $(heart).removeClass("text-danger") : $(heart).addClass("text-danger")
        }       
    })
});
</script>
{% endblock %}