{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
                {# En-tête & titre principal  #}
        <div class="px-md-4 text-center">
            <img src="{{ asset('/images/home_shop.png')}}" alt="image de décoration" style="width: 70%;">            
            <hr class="mt-3">
            <h2 class="mb-2">Nos Produits :</h2>
            <hr class="mb-3">
        </div>
                {# Affichage des catégories #}
        <h6 class="ms-2">Filtrer par catégorie :</h6>
        <div class="container d-flex flex-wrap justify-content-between">
            
            {% for category in categories %}
            <div class="col-3 mt-5 ">
                <a href="{{ asset('images/category/') ~ category.imageName}}" data-lightbox data-image-alt="{% if category.imageDescription is not null %} {{ category.imageDescription }}{% else %} Image de la catégorie : {{ category.Name}} {% endif %}">
                    <img 
                        class="bd-placeholder-img rounded-circle"
                        style="width: 15%;"
                        src="{{ asset('images/category/') ~ category.imageName}}" 
                        alt="{% if category.imageDescription is not null %} {{ category.imageDescription }}
                        {% else %} Image de la catégorie : {{ category.Name}} {% endif %}"
                    />
                </a>
                <a href="{{ path('app_front_filteredProducts', {slug: category.slug})}}">{{ category.name}}</a>
            </div>
            {% endfor %}
        </div>

                {# Affichage des produits #}
        <div class="row ">
        {% for product in products %}
        <div class="col-3 my-5 d-flex flex-wrap justify-content-around align-items-stretch">

            <div class="card shop-card-product p-3" style="width: 15rem;">
                <a href="{{ path('app_front_product', {slug: product.slug})}}">
                    <img src="{{ asset('images/product/') ~ product.imageName}}" class="card-img-top" alt="{{ product.descriptionImage }}">
                    <div class="card-body p-0 mt-1" style="heigth: 100vh;" >                            
                        <h6 class="card-title">{{ product.name }}</h6>
                        <p class="min-desc-product">{{ product.descriptionImage|raw }}</p>
                        
                        <p class="card-text d-flex justify-content-between align-items-center my-2">
                       
                            {{ product.price|format_currency('EUR', locale="fr") }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </p> 
                                                 
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
